
@{
    ViewBag.Title = "cV";
}
<title>My CV</title>
<!DOCTYPE html>
<html>
<head>
    <title>My CV</title> 
    <style>
        body {
            background-image: url("../../images/back.jpg");
            background-position:center;
            background-attachment:fixed;
           
        }
        .jumbotron {
            background-color:rgb(30,30,30);
            color:rgb(216,216,216);
            margin-top: 170px;
            border: 2px solid;
            border-color:#00ff21;
        }
        h1 {
         text-align:center;
        }
        .control-label {
            border: 2px solid;
            border-color: #00ff21;
            margin-right:150px;
            margin-left:150px;
            margin-top:50px;
        }
        h2 {
            font-size:xx-large;
        }
        
        #t {
            background-color: #808080;
            text-align: center;
            border: 2px solid;
            border-color: #00ff21;
            margin-right: 400px;
            margin-left: 400px;
            margin-top: -15px;
            color:rgb(30,30,30);
        }
        #ed {
           font-size:18px;
        }
    </style>
</head>
<body >

    <div class="jumbotron">
        <div class="control-label">
            <h1>Muhammad Usama</h1>
        </div>
        <p id="t">Software Engineer</p>
        <div id="ed">
            <hr />
            <h2><strong>Personal Details</strong></h2>
            <hr />
            <h3><strong>Address</strong></h3>
            <p>House#3544,Street#17</p>
            <p>Sec#D-2,HijratColony,Karachi</p>
            <p><br /></p>
            <h3><strong>Contact.No</strong></h3>
            <p>+92336-2515701</p>
            <p><br /></p>
            <h3><strong>E-mail</strong></h3>
            <p>muhammadusamax123@gmail.com</p>
            <hr />
            <h2><strong>Interpersonal Skills</strong></h2>
            <hr />
            <ul style="list-style-type:disc">
                <li> Problem Analysis</li>
                <li>Logic Building</li>
                <li>Project Management</li>
                <li>MS Office</li>
                <li>Presentation Skills</li>
                <li>Communication Skills</li>
            </ul>
            <hr />
            <h2><strong>Languages</strong></h2>
            <hr />
            <ul style="list-style-type:disc">
                <li>Java</li>
                <li>C#</li>
                <li>C</li>
                <li>HTML</li>
                <li>JavaScript</li>
                <li>Python</li>
            </ul>
            <hr />
            <h2><strong>Education</strong></h2>
            <hr />
            <h3><strong>Intermediate Education</strong></h3>
            <p><strong>Army Public College Sadar</strong></p>
            <p><strong>Duration:</strong>&nbsp;January2014-June2016</p>
            <p><strong>Percentage:</strong>&nbsp;74.61%</p>
            <br />
            <h3><strong>SSC Education</strong></h3>
            <p><strong>Bahria Model School Sabir S.R.E</strong></p>
            <p><strong>Duration:</strong>&nbsp;January2012-June2014</p>
            <p><strong>Percentage:</strong>&nbsp;68%</p>
            <hr />
            <h2><strong>Hobbies</strong></h2>
            <hr />
            <ul style="list-style-type:disc">
                <li>Working out at the gym</li>
                <li>Singing</li>
                <li>Drawing and Sketching</li>
            </ul>
        </div>
    
    </div>


</body>
</html>

